########################################
# Laravel
########################################

/vendor/
/node_modules/

# Laravel Storage

/public/storage

# Laravel Cache



########################################
# Environment Files (SECRETS)
########################################

.env
.env.*
.env.backup

########################################
# Service Account / Firebase / GCP Keys
########################################


*firebase*.json
*serviceAccount*.json
*credentials*.json
*remyndnow*.json

########################################
# Public Hot Reload
########################################

/public/hot

########################################
# Logs
########################################

npm-debug.log
yarn-error.log
yarn-debug.log
pnpm-debug.log

########################################
# IDE / Editor
########################################

/.idea
/.vscode
*.swp
*.swo

########################################
# OS Files
########################################

.DS_Store
Thumbs.db

########################################
# Homestead
########################################

Homestead.json
Homestead.yaml

########################################
# Testing / Coverage
########################################

/coverage

